{% extends "base.html" %}
{% block header %}
    <h1>TASKS</h1>
{% endblock header %}

{% block body %}
    <h2>Current tasks</h2>
    <div class="tasks">
        {% for item in tasks %}
        
        <div class="task-container">
            <div class="task-name"> <h3>{{ item['taskName'] }} </h3></div>
            <div class="desc">{{ item['Description'] }}</div>
            <div class="buttons">
                <a href="delete/{{ item.id }}" onclick="return confirm('You will permanently delete the task.')">DELETE</a>
                <a href="update/{{ item.id }}">UPDATE</a>
            </div>
        </div>
    
        {% endfor %}
    </div>
{% endblock body %}