<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}{% endblock head %}
</head>
<body>
    {% include "nav.html" %}
    <div class="header">
        {% block header %}{% endblock header %}
    </div>
    <div class="body">
        {% block body %}{% endblock body %}
    </div>
</body>
</html>